{% extends 'BenCoreBundle::base-navbar.html.twig' %}

{% block body %}
{{ parent() }}

<form class="form-horizontal" method="POST" action="{{ app.request.uri }}">
    <fieldset>
        <div class="container">
            {{ form_row(form.name) }}
            {{ form_row(form.description) }}
            {{ form_row(form.date) }}
        </div>
    </fieldset>
    
    <fieldset>
        <div class="container">
            <div class="row">
                <div class="col-sm-4 col-sm-push-6 form-submit">
                    <button type="submit" class="btn btn-primary btn-block">{% block save_button_text %}{% endblock %}</button>
                </div>
                <div class="col-sm-3 col-sm-offset-3 col-sm-pull-4 form-submit">
                    <a href="{{ path('ben_core_administration_index') }}" role="button" class="btn btn-default btn-block">Annuler</a>
                </div>    
            </div>
        </div>
        <div class="hide">
            {{ form_rest(form) }}
        </div>
    </fieldset>
</form>

{% endblock %}
